/* Base styles (default for desktops > 991px) */

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tienne:wght@400;700;900&display=swap");

* {
  font-family: "Poppins", sans-serif !important;
}

.maiacare-input-field-label {
  font-size: 14px;
  font-weight: 700 !important;
  /* color: var(--color-brand); */
  color: var(--color-radio-lable);
}

.maiacare-input-field {
  font-size: 16px;
  font-weight: 500;
  color: var(--color-brand);
}

.maiacare-input-field::placeholder {
  color: var(--color-radio);
}

.maiacare-input-field-helper-text {
  color: var(--color-sidebar-icon);
  font-size: 14px;
  font-weight: 500;
}

.maiacare-input-field-error {
  font-size: 14px;
  font-weight: 500;
}

.maiacare-radio-wrapper {
  font-size: 16px;
  font-weight: 500;
  color: var(--color-radio);
}

.maiacare-radio-label {
  font-size: 14px;
  font-weight: 500;
  color: var(--color-radio-lable);
}
/* profile-details */
.profiledetails_heading {
  color: rgba(138, 141, 147, 1);
  font-size: 16px;
  font-weight: 600;
}
.profiledetails_text {
  color: rgba(62, 74, 87, 1);
  font-weight: 500;
  font-size: 14px;
}

/* detail_card */

.card_text {
  color: #8a8d93;
  margin-left: 7px;
  font-size: 15px;
}

.servicename {
  color: #ff8a4c;
  border: 1px solid #ff8a4c;
  border-radius: 6px;
  padding: 3px 11px;
  font-size: 13px;
  font-weight: 500;
}

.maiacare-input-field-maxlength-indicator {
  font-size: 14px;
  font-weight: 500;
  color: var(--color-sidebar-icon);
}

.maiacare-input-field:focus {
  outline: none !important;
  box-shadow: none !important;
  /* border: 1px solid #999 !important; grey focus border */
}

.maiacare-button-large {
  font-size: 18px;
  font-weight: 500;
}

.maiacare-button-medium {
  font-size: 16px;
  font-weight: 500;
}

.maiacare-button-small {
  font-size: 14px;
  font-weight: 500;
}

.default-layout {
  background-color: var(--color-brand);
  color: var(--color-white);
  border: none;
}

.default-layout:hover {
  background-color: var(--color-brand);
  color: var(--color-white);
}

.default-layout:focus-visible {
  background-color: var(--color-brand);
  color: var(--color-white);
}

.default-layout:active {
  background-color: var(--color-brand) !important;
  color: var(--color-white) !important;
  transform: scale(0.98);
  transition: all 0.2s ease-in-out;
}

.default-layout:disabled {
  background-color: var(--color-brand) !important;
  color: var(--color-white) !important;
  cursor: not-allowed;
}

.outline-layout {
  background-color: transparent;
  color: var(--color-brand);
  border: 1px solid var(--color-brand);
}

.outline-layout:hover {
  background-color: transparent;
  color: var(--color-brand);
  border: 1px solid var(--color-brand);
}

.outline-layout:focus-visible {
  background-color: transparent;
  color: var(--color-brand);
  border: 1px solid var(--color-brand);
}

.outline-layout:active {
  background-color: transparent !important;
  color: var(--color-brand) !important;
  border: 1px solid var(--color-brand) !important;
  transform: scale(0.98);
  transition: all 0.2s ease-in-out;
}

.outline-layout:disabled {
  background-color: var(--color-brand) !important;
  color: var(--color-white) !important;
  cursor: not-allowed;
}

.maiacare-phone-input {
  font-size: 16px !important;
  font-weight: 500;
}

.btn-border {
  border-color: 1px solid var(--color-radio-lable) !important;
  height: 40px !important;
}
/* view_invoice */
.view_invoice_text {
  color: #e29578;
  font-size: 30px;
  font-weight: 500;
}
.view_invoice_data {
  color: #8a8d93;
  font-weight: 500;
}
.date {
  color: #3e4a57;
  font-weight: 500;
}
.doctor_card_text {
  color: #8a8d93;
  font-size: 14px;
  font-weight: 400;
  width: 80%;
}
.doctor_heading {
  color: #3e4a57;
  font-size: 17px;
  font-weight: 600;
  margin-top: 10px;
}
.patient_heading {
  color: #8a8d93;
  font-size: 14px;
  font-weight: 600;
}
.patient_text {
  font-size: 14px;
  font-weight: 500;
}
.service_details_table {
  border: 1px solid #dde1e8;
  border-radius: 10px;
}
.table_th {
  border-bottom: 1px solid #dde1e8;
  background: #f5f7fa;
  padding: 12px 16px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: #3e4a57;
  font-size: 15px;
  font-weight: 600;
}
.service_card {
  padding: 1rem 2.5rem;
  font-size: 15px;
  color: #3e4a57;
  font-weight: 500;
}
.service_border {
  border-bottom: 2px solid #dde1e8;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
.total_text {
  color: #e29578;
  font-size: 19px;
  font-weight: 700;
}
.patient-card {
  padding: 4px 10px !important;
}
/* ==================  Profile  / Edit Componet css  =============== */

/* .profile-name {
    color: var(--color-heading);
    font-size: 20px;
} */

.profile-verified-badge {
  font-size: 15px;
  color: var(--color-subtitle-pink);
  font-weight: 600;
}

.profile-sub-title {
  color: rgba(138, 141, 147, 1);
  line-height: 0;
  font-size: 15px !important;
  display: flex;
  align-items: center;
  gap: 7px;
}

.profile-member-since {
  /* font-style: italic; */
  font-size: 14px;
  font-weight: 400;
  font-weight: 400;
  font-style: italic;
  color: #3e4a57;
}
.profile-name-font {
  font-size: 20px;
  font-weight: 600;
  line-height: 18px;
  color: var(--color-heading);
  font-family: var(--font-geist-sans1);
}
.edit-profile-btn {
  border: 1px solid var(--color-radio-lable);
  color: var(--color-brand) !important;
  background-color: rgba(0, 0, 0, 0) !important;
  border-radius: 8px;
  padding: 9px 15px;
  font-size: 16px;
  font-weight: 500;
}

.edit-profile-btn:hover,
.edit-profile-btn:focus,
.edit-profile-btn:active {
  background-color: transparent !important;
  color: var(--color-brand) !important;
  border: 1px solid var(--color-radio-lable) !important;
  /* box-shadow: none !important; */
}

/* Profile Tabes 2nd componet */
.custom-tab .nav-link.active {
  color: var(--color-brand);
  border-bottom: 2px solid var(--color-brand);
  font-weight: 600;
}

.custom-tab {
  border-bottom: 1px solid var(--color-icon-border);
}

.custom-tab .nav-link {
  border: none;
  border-bottom: 2px solid transparent;
  color: #adb5bd;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
}

.profile-card-main-titile {
  color: var(--color-heading);
  font-size: 20px;
  font-weight: 600;
  font-style: semi-bold;
}

.profile-card-boeder {
  border-color: var(--color-icon-border) !important;
}

.my-custom-icon {
  color: var(--color-icon-border) !important;
  /* or other filter or styles */
}
.detail_card {
  font-size: 19px;
}
.card-feild {
  color: var(--color-radio-lable) !important;
  font-weight: 600;
  font-size: 15px;
}

.card-university-text {
  color: var(--color-radio-lable) !important;
  /* color: red !important; */
  font-weight: 400;
  font-size: 15px;
}

.card-year {
  color: var(--color-sidebar-icon);
  font-weight: 400;
  font-size: 13px;
}

.about-text {
  color: var(--color-radio-lable) !important;
  font-weight: 400;
  font-size: 16px !important;
}

.check-box input[type="checkbox"] {
  border: 1.5px solid var(--color-radio);
}
.check-box label {
  font-weight: 500;
}
.kyc-details {
  color: var(--color-sidebar-icon);
  font-weight: 400;
  font-size: 16px;
}

.modal-bg {
  background-color: var(--color-bg) !important;
}

.kyc-modal-subheading {
  color: var(--color-modal-subheading) !important;
}

.last-month {
  border-color: var(--color-icon-border) !important;
  background-color: white !important;
  color: var(--color-brand) !important;
}

.modal-border-color {
  border-color: var(--color-modal-border) !important;
}

.custom-progress {
  background-color: var(--color-brand) !important;
  /* green color */
}

.file-name {
  color: var(--color-radio-lable) !important;
  font-weight: 600;
  font-size: 14px;
}

.modal-border-dashed {
  border: 2px dashed !important;
  border-color: var(--color-icon-border) !important;
  border-radius: 16px !important;
}

.uploding-complete-text {
  color: var(--color-radio-lable) !important;
  font-size: 14px;
  font-weight: 400;
}

.report-name {
  color: var(--color-radio-lable) !important;
  font-size: 14px;
  font-weight: 600;
}

.Profilephoto-save-take {
  color: var(--color-radio-lable) !important;
  font-weight: 500;
  font-size: 14px;
}

.support-accordion-header {
  color: var(--color-radio-lable);
  padding: 0 10px;
  font-size: 16px;
  font-weight: 550;
  line-height: 20px;
}
.support-accordion-content {
  color: #858b95;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  padding: 20px !important;
}

.support-faqs-desc {
  color: var(--color-heading);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.contact-detail {
  color: #1e293b;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
}
/* Doctorprofilebasicdetails */
.service_text {
  color: #8a8d93;
  font-size: 14px;
  font-weight: 600;
}
/* clinic card */
.clinic_card_title {
  font-size: 16px;
  font-weight: 600;
}
.settings-accordion-subtitle {
  color: var(--color-radio-lable);
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}
.password-requirements {
  color: var(--color-radio-lable);
  font-size: 12px;
  font-weight: 500;
  line-height: 17px;
}

/* login page */
.login-image-contetnt {
  color: var(--color-white);
  font-size: 44px;
  font-weight: 600;
  line-height: 56px;
  font-style: SemiBold;
}
.login-title {
  font-size: 34px;
  font-weight: 600;
  line-height: 44px;
  color: var(--login-font);
}
.login-subtitle {
  font-size: 18px;
  font-weight: 400;
  color: var(--font-subtitle);
  line-height: 160%;
}
/* Media Query: Tablets (991px and below) */
@media (max-width: 991px) {
  .maiacare-input-field-label {
    font-size: 13px;
  }

  .maiacare-input-field {
    font-size: 15px;
  }

  .maiacare-input-field-helper-text,
  .maiacare-input-field-error {
    font-size: 13px;
  }

  .maiacare-radio-label {
    font-size: 13px;
  }

  .modal-custom-header {
    font-size: 20px;
  }

  .maiacare-button-large {
    font-size: 16px;
  }

  .maiacare-button-medium {
    font-size: 14px;
  }

  .maiacare-button-small {
    font-size: 12px;
  }

  .modal-heading {
    font-size: 20px !important;
  }

  .brand-text {
    font-size: 14px !important;
  }

  .forget-password {
    font-size: 12px !important;
  }

  .verification-form {
    margin: 20px;
    padding: 40px !important;
  }

  .sub-heading-patient {
    font-size: 14px !important;
  }

  .about-text {
    font-size: 14px !important;
  }

  .profile-card-main-titile {
    font-size: 20px;
  }
}

@media (max-width: 525px) {
  .Consultations-image {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (max-width: 767px) {
  .Consultations-book {
    font-size: 16px !important;
  }
}

/* Optional: Smaller devices like phones (e.g., 575px and below) */
@media (max-width: 575px) {
  .maiacare-input-field-label {
    font-size: 12px;
  }

  .maiacare-input-field {
    font-size: 14px;
  }

  .form-select {
    font-size: 14px;
  }
  .servicename {
    font-size: 14px;
  }
  .maiacare-input-field-helper-text,
  .maiacare-input-field-error {
    font-size: 12px;
  }

  .maiacare-radio-label {
    font-size: 12px;
  }

  .modal-custom-header {
    font-size: 18px;
  }

  .maiacare-button-large {
    font-size: 14px;
  }

  .maiacare-button-medium {
    font-size: 12px;
  }

  .maiacare-button-small {
    font-size: 10px;
  }

  .about-text {
    font-size: 14px !important;
  }

  .profile-card-main-titile {
    font-size: 20px;
  }
}

@media (max-width: 375px) {
  .modal-heading {
    font-size: 16px !important;
  }

  .brand-text {
    font-size: 12px !important;
  }

  .login-form {
    padding: 0px !important;
  }

  .verification-form {
    margin: 15px;
    padding: 20px !important;
  }

  .sub-heading-patient {
    font-size: 12px !important;
  }

  .Patient-Details {
    font-size: 18px !important;
  }

  .name-patient {
    font-size: 20px !important;
  }

  .Patient-review {
    font-size: 13px !important;
  }

  .sub-patient {
    font-size: 12px !important;
    padding: 4px 4px !important;
  }

  .about-text {
    font-size: 13px !important;
  }

  .profile-card-main-titile {
    font-size: 18px;
  }

  .Profilephoto-save-take {
    font-size: 12px;
  }
}

.modal-heading {
  color: var(--color-modal-heading);
  font-size: 25px;
  font-weight: 600;
}

.login-heading {
  font-size: 20px;
  color: var(--color-modal-heading);
  font-weight: 600;
}

.brand-text {
  color: var(--color-sidebar-icon);
  font-weight: 500;
  font-size: 16px;
}

.Button-login {
  background-color: var(--color-brand);
  /* e.g., #2b4360 */
  color: var(--color-white);
  /* e.g., #ffffff */
  border: none;
  outline: none;
  box-shadow: none;
  transition: none;
  font-weight: 500;
  font-size: 18px;
}

.Button-login:hover,
.Button-login:focus,
.Button-login:active,
.Button-login:active:focus,
.Button-login.active,
.Button-login.active:focus,
.show > .Button-login.dropdown-toggle {
  background-color: var(--color-brand) !important;
  color: var(--color-white) !important;
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
}

.pass-list {
  color: var(--color-brand);
  font-size: 12px;
}

.pass-list-head {
  color: var(--color-brand);
  font-size: 14px;
}
/* setting css */
.forgate-password {
  color: var(--color-brand);
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  text-decoration: none;
}
.accordion-title {
  font-size: 22px;
  font-weight: 600;
  line-height: 26px;
  font-style: "SemiBold";
  color: var(--color-heading);
}

.setting-head {
  color: var(--color-heading);
  font-size: 22px;
  font-weight: 600;
  line-height: 26px;
}

.heading-patient {
  color: #666b7a;
  font-weight: 500;
  font-size: 12px;
}

.sub-heading-patient {
  color: #131d2a;
  font-size: 16px;
  font-weight: 400;
}

.name-patient {
  color: #131d2a;
  font-size: 24px;
}

.Patient-Details {
  color: #131d2a;
  font-size: 20px;
}

.Patient-review {
  color: #292929;
  font-size: 14px;
  font-weight: 400;
}

.sub-patient {
  color: #e29578;
  border: 1px solid #e29578;
  font-weight: 400;
  font-size: 13px;
  padding: 4px 8px;
  border-radius: 4px;
}

.Consultations-book {
  color: #292929;
  font-size: 17px;
  font-weight: 500;
}

/* login css */
.login-title {
  font-size: 34px;
  font-weight: 600;
  line-height: 44px;
  font-style: SemiBold;
  color: var(--login-font);
}
.input-forrgot-password {
  color: var(--input-forgot-password);
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  font-style: bold;
  cursor: pointer !important;
}
.loginpage-or-btn {
  font-size: 12px;
  font-weight: 600;
  font-style: SemiBold;
  color: var(--or-font-color);
}
.login-dont {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  font-style: Regular;
  color: var(--color-radio-lable);
}
.successful_modal .modal-lg {
  width: 500px;
}

/* Dashboard.css */
.phisical-assessment-accordion-title-showData {
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;

  color: var(--color-radio-lable);
}
.dashboard-card-subtitle {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  color: var(--color-radio-lable);
}
.dashboard-card-green {
  font-weight: 600;
  line-height: 20px;
  font-style: SemiBold;
  color: var(--dashboard-card-green);
  font-size: 14px !important;
}

.dashboard-card-orange {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  font-style: SemiBold;
  color: var(--login-font);
}
.dashboard-subheader {
  font-size: 31px;
  font-weight: 600;
  line-height: 33px;

  color: var(--color-heading);
}
.card {
  border: none;
  border-radius: 12px;
}
.dashboard-progress-bar {
  border-radius: 4px !important;
  gap: 1px !important;
  height: 36px !important;
  display: flex !important;
  overflow: hidden !important;
}
.dashboard-progress-bars {
  /* marginRight: 2px !important; */
  gap: 1px !important;
  display: flex !important;
}
.dashboard-chart-dropdown1 .maiacare-input-field {
  width: 69px !important;
  padding: 5px 5px 5px 8px !important;
}
.treatment-success-rate-charts-patients {
  background-color: #def7ec !important;
  border-radius: 8px !important;
  margin-left: 20px !important;
  padding: 5px !important;
}
.patient-journey-up-icon1 {
  background-color: var(--color-white);
  border: 1px solid var(--google-icon-border);
  cursor: pointer;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  display: flex;
}
.treatment-success-rate-datas {
  font-size: 36px;
  font-weight: 500;
  line-height: 26px;
  font-style: bold;
  color: var(--color-heading);
}
.dashboard-chart-heading {
  font-size: 22px;
  font-weight: 500;
  line-height: 26px;
  font-style: Medium;
  color: var(--color-heading);
}
.dashboard-treatment-success {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  font-style: SemiBold;
  color: var(--color-radio-lable);
}
.dashboard-treatment-success-rate {
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  font-style: SemiBold;
  color: var(--dashboard-card-green);
}
.dashboard-treatment-success-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 17px;
  font-style: SemiBold;
  color: var(--color-radio-lable);
}

.dashboard-treatment-success-patients {
  font-size: 15px;
  font-weight: 500;
  line-height: 16px;
  font-style: Medium;
  color: var(--color-sidebar-icon);
}
.treatment-success-rate-charts-patients {
  background-color: rgb(222, 247, 236) !important;
  border-radius: 8px !important;
  margin-left: 20px !important;
  padding: 5px !important;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  color: var(--dashboard-chart-patients);
}
.emerygencyimg {
  border: 1.5px solid #dde1e8;
  width: fit-content;
  padding: 2px 4px;
  border-radius: 5px;
}
.requestarrow {
  border: 1.5px solid #dde1e8;
  width: fit-content;
  padding: 1px 7px;
  border-radius: 5px;
  cursor: pointer;
}
.eyecon {
  border: 1.5px solid #dde1e8;
  border-radius: 5px;
  cursor: pointer;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0 5px;
}
.notification_card {
  font-size: 17px;
}
.declinecon {
  border: 1.5px solid #e85966;
  padding: 4px;
  width: 50%;
  color: #e85966;
  border-radius: 9px;
  font-weight: 600;
  cursor: pointer;
}
.confirmcon {
  border: 1.5px solid #2ecf98;
  padding: 4px;
  font-weight: 600;
  margin-left: 1rem;
  border-radius: 9px;
  color: #2ecf98;
  gap: 5px;
  cursor: pointer;
}
.doctor_card {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.patient-journey-charts {
  width: 5px !important;
}
.patient-journey-chart-details {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: var(--color-sidebar-icon);
}
.dashboard-chart-canvas {
  width: 315.9px !important;
  height: 340px !important;
}
.ageDistribution {
  color: #8a8d93;
  font-size: 15px;
}
@media screen and (max-width: 1024px) {
  .accordion-title {
    font-size: 20px;
  }
}
@media screen and (max-width: 1391px) {
  .support-accordion-header {
    font-size: 15px;
  }
}

@media screen and (max-width: 1400px) {
  .login-image-contetnt {
    font-size: 40px;
  }
}
@media screen and (max-width: 1366px) {
  .login-title {
    font-size: 32px;
  }
}
