.setting-passwored-label label{
    color: #1E293B !important;
}

.setting-password-item {
    border-radius: 8px;
    padding: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

/* side bar custome using boostrap tabs */
.custom-nav .nav-link {
    background-color: transparent;
    color: var(--color-sidebar-icon);
    padding: 0 !important;
    /* remove deflaut padding for tabs bootstrap */
}

.custom-nav .nav-link .nav-icon {
    color: var(--color-sidebar-icon);
}

/* Active styles */
.custom-nav .nav-link.active {
    background-color: var(--color-brand);
    color: var(--color-white);
}

.custom-nav .nav-link.active .nav-icon {
    color: var(--color-white);

}

.custom-nav .nav-link.active span {
    color: var(--color-white);
}

/* setting-accordion start */
.setting-accordion-item {
    border: none !important;
}

.setting-accordion-item .accordion-button {
    padding: 0 !important;
}

.setting-accordion-item .accordion-button::after {
    width: 50px !important;
    height: 50px !important;
    border: 1px solid var(--border-accordion-arrow) !important;
    border-radius: 10px !important;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--color-white);
    /* optional */
    padding: 0;

    /* Center the arrow inside */
    background-position: center;
    background-repeat: no-repeat;
}

/* Optional: rotate the arrow when open */
.setting-accordion-item .accordion-button:not(.collapsed)::after {
    transform: rotate(180deg);
}

/* Style for open (expanded) Accordion Item */
.support-accordion-item.open {
    border-bottom: 1px solid var(--color-iconborder, #DDE1E8) !important;
    /* padding: 20px; */
    border-radius: 0 0 10px 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 1px;

}

/* setting-accordion end */

/* support accordion start */
.support-accordion-item {
    border: none !important;
}

.support-accordion-item .accordion-button {
    padding: 0 !important;
}

.support-accordion-item .accordion-button::after {
    border: 1px solid var(--color-icon-border);
    width: 40px !important;
    height: 40px !important;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-white);
    /* Center the arrow inside */
    background-position: center;
    background-repeat: no-repeat;
}

.support-accordion-item .accordion-button:not(.collapsed)::after {
    transform: rotate(180deg);
}

/* support accordion end*/

.your-device-box {
    border: 1px solid #CBD5E1;
    padding: 16px;
    border-radius: 12px;

}

.your-device-box-img {
    width: 70px;
    height: 70px;
}

.support-contact-icon {
    width: 25px;
    height: 25px;
}

.support-contact-icon svg {
   width: 20px;
    height: 100%;
}


@media screen and (max-width: 1391px){
    .support-contact-icon {
        width: 23px;
        height: 23px;
    }
}


@media screen and (max-width: 1327px){
    .support-contact-icon {
        width: 22px;
        height: 22px;
    }

}

@media (max-width: 1250px) {
    .support-contact-icon {
        width: 21px;
        height: 21px;
    }

}
@media (max-width: 1199px) {
    .support-contact-icon {
        width: 20px;
        height: 20px;
    }
    .your-device-box-img {
        width: 60px;
        height: 60px;
    }
}

@media screen and (max-width: 1032px){
    .your-device-box-img {
        width: 50px;
        height: 50px;
    }
}

@media (max-width: 1024px) {
    .support-contact-icon {
        width: 18px;
        height: 18px;
    }
}

@media (max-width: 991px) {
    .support-contact-icon {
        width: 22px;
        height: 22px;
    }
}

/* Media query */
@media (max-width: 768px) {
    .support-contact-icon {
        width: 35px;
        height: 20px;
    }
}

@media (max-width: 480px) {
    .support-contact-icon {
        width: 28px;
        height: 18px;
    }
}


@media screen and (max-width: 767px) {}

@media screen and (max-width: 575px) {

    .setting-password-item {
        padding: 15px;
    }


    .setting-accordion-item .accordion-button::after {
        width: 45px;
        height: 45px;
    }
}

@media screen and (max-width: 425px) {

    .your-device-box-subtitle {
        width: 100%;
    }

    .setting-password-item {
        padding: 14px;
    }

    .setting-accordion-item .accordion-button::after {
        width: 42px;
        height: 42px;
    }

}

@media screen and (max-width: 375px) {
    .setting-password-item {
        padding: 13px;
    }

    .setting-accordion-item .accordion-button::after {
        width: 40px;
        height: 40px;
    }

}